{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} 
        default:"My Django Project"
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% tailwind_css %}
</head>
<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-white text-3xl font-bold">Product Details Page</div>
            <div>
                <a href="#" class="text-gray-300 hover:text-white mx-4">Home</a>
                <a href="#" class="text-gray-300 hover:text-white mx-4">Shop</a>
                <a href="#" class="text-gray-300 hover:text-white mx-4">Contact</a>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    

</body>
</html>